@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base{
  h1 {
    @apply mt-4 text-3xl font-bold;
  }

  h2 {
    @apply mt-4 text-2xl font-bold;
  }

  h3 {
    @apply mt-4 text-xl font-bold;
  }

  h4 {
    @apply mt-4 text-lg font-bold;
  }

  h5 {
    @apply mt-4 text-base font-bold;
  }

  h6 {
    @apply mt-4 text-sm font-bold;
  }
}

body {
}
